.home-cart-icon {
  color: #5EB837;
  width: 1.5em !important;
  height: 1.5em !important;
}
.home-cart-icon:hover {
  color: #3b821d;
}
.btn-secondary{
  background-color: #5EB837;
  border-color: #5EB837;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: #3b821d;
    border-color: #3b821d;
}
.btn-secondary.focus, .btn-secondary:focus {
    background-color: #3b821d;
    border-color: #3b821d;
    box-shadow: 0 0 0 0.2rem transparent;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem transparent;
}
.btn-secondary:hover {
  background-color: #3b821d;
  border-color: #3b821d;
}
